{% extends "base.html" %}
{% load static customtags %}

{% block title %}Search{% endblock %}

{% block head %}
<style media="screen">
    .container .card {
        max-width:800px
    }
</style>
{% endblock %}

{% block content %}
<div class="container" align="center">

    <h3>User</h3>



        {% for name in all_search_results %}
            <div class="col-12 col-md-8">{{ name.username }} -
                <a href="{% build_chat_url user.username name.username %}">Написать</a>
                <a href="{% url 'block'  %}"
            </div>

        {% empty %}
            <div class="col col-lg-2">No results found</div>

        {% endfor %}


<a class="float-center" href="{% url 'home' %}" role="button">Exit</a>
</div>



{% endblock %}
